<div class="songs-wrapper" :class="{'show': modal}" @click="close">
  <div class="songs-modal-header flex-container" @click.stop>
    <h2 class="flex-content">検索結果</h2>
    <div @click="close">閉じる</div>
  </div>
  <div class="songs" @click.stop>
    <cell v-for="song in songs" :title="song.title" :artist="song.artist" :lead="song.lead" @click.stop="close"></cell>
    <div class="button-wrapper">
      <button type="button" class="button expanded brand" :disabled="loading" @click.stop="load">
        さらに読み込む
      </button>
    </div>
  </div>
</div>
