<div>
  <h1 v-text="song.title"></h1>
  <div class="lead" v-text="song.lead"></div>

  <div>
    <a v-link="{name: 'edit', params: {id: $route.params.id}}">内容を編集する</a>
  </div>
  <hr>
  <section>
    <h2>基本情報</h2>
    <table class="table" v-if="!$loadingRouteData">
      <tbody>
        <tr>
          <th scope="1">アーティスト</th><td v-text="song.artist"></td>
        </tr>
        <tr>
          <th scope="2">収録アルバム</th>
          <td><a v-link="{name: 'album', params: {year: song.year, month: song.month}}">月刊エレクトーン{{song.year}}年{{song.month}}月号</a></td>
        </tr>
        <tr>
          <th scope="3">掲載ページ</th><td>{{song.page}}ページ</td>
        </tr>
        <tr>
          <th scope="4">種類</th><td v-text="song.type"></td>
        </tr>
        <tr>
          <th scope="5">難易度</th><td v-text="song.grade"></td>
        </tr>
        <tr>
          <th scope="6">人数</th><td>{{song.people}}人</td>
        </tr>
      </tbody>
    </table>
  </section>
  <hr>
  <section>
    <h2>パート情報</h2>
    <table class="table">
      <thead>
        <tr><th>種類</th><th>上鍵盤</th><th>下鍵盤</th><th>ペダル鍵盤</th><th>リズム</th></tr>
      </thead>
      <tbody>
        <tr v-for="part in parts" track-by="id">
          <td>{{part.type}}</td>
          <td>{{part.upper | exist}}</td>
          <td>{{part.lower | exist}}</td>
          <td>{{part.pedal | exist}}</td>
          <td>{{part.rhythm | exist}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <hr>
  <section>
    <h2>関連動画</h2>
    <div class="list-group">
      <a v-for="video in videos" :href="video.url" target="_blank" class="list-group-item" track-by="id" v-text="video.title"></a>
    </div>
  </section>
</div>
