<div class="song">
  <h1>{{song.title}}</h1>
  <p>{{song.lead}}</p>

  <section>
    <h3>基本情報</h3>
    <div class="song-info-container">
      <div class="song-info-content">
        <dl>
          <dt>アーティスト</dt>
          <dd>{{song.artist}}</dd>
        </dl>
        <dl>
          <dt>収録アルバム</dt>
          <dd>月刊エレクトーン{{song.year}}年{{song.month}}月号</dd>
        </dl>
        <dl>
          <dt>掲載ページ</dt>
          <dd>{{song.page}}ページ</dd>
        </dl>
      </div>
      <div class="song-info-content">
        <dl>
          <dt>難易度</dt>
          <dd>{{song.grade}}</dd>
        </dl>
        <dl>
          <dt>エレクトーンの台数</dt>
          <dd>{{song.people}}台</dd>
        </dl>
        <dl>
          <dt>ピアノ</dt>
          <dd>{{song.piano | exist}}</dd>
        </dl>
      </div>
    </div>
  </section>
  <section>
    <h3>パート情報（エレクトーン）</h3>
    <table>
      <thead>
        <tr>
          <th>パート</th>
          <th>上鍵盤</th>
          <th>下鍵盤</th>
          <th>ペダル鍵盤</th>
          <th>リズム</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="part in song.parts">
          <td>{{$index + 1}}</td>
          <td>{{part.upper | exist}}</td>
          <td>{{part.lower | exist}}</td>
          <td>{{part.pedal | exist}}</td>
          <td>{{part.rhythm | exist}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>関連動画</h3>
  </section>
</div>
