<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card card-block">
      <h4 class="card-title">ログイン</h4>
      <form @submit.prevent="submit">
        <fieldset class="form-group">
          <label for="username">ユーザー名</label>
          <input type="text" name="username" id="username" class="form-control" v-model="username">
        </fieldset>
        <fieldset class="form-group">
          <label for="password">パスワード</label>
          <input type="password" name="password" id="password" class="form-control" v-model="password">
        </fieldset>
        <button type="submit" class="btn btn-primary">ログインする</button>
        <a v-link="{name: 'register'}" class="btn btn-secondary">ユーザ登録画面</a>
      </form>
    </div>
  </div>
</div>
