<div class="card">
  <div class="card-header">パート情報</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" v-for="part in parts">
      <fieldset class="form-group">
        <label for="">楽器</label>
        <select name="" id="" class="form-control c-select">
          <option value="エレクトーン">エレクトーン</option>
          <option value="ピアノ">ピアノ</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label for="" class="checkbox-inline">
          <input type="checkbox" name="" id="" value="上鍵盤" v-model="part.keyboards"> 上鍵盤
        </label>
        <label for="" class="checkbox-inline">
          <input type="checkbox" name="" id="" value="下鍵盤" v-model="part.keyboards"> 下鍵盤
        </label>
        <label for="" class="checkbox-inline">
          <input type="checkbox" name="" id="" value="ペダル鍵盤" v-model="part.keyboards"> ペダル鍵盤
        </label>
        <label for="" class="checkbox-inline">
          <input type="checkbox" name="" id="" value="リズム" v-model="part.keyboards"> リズム
        </label>
      </fieldset>
      <button type="button" class="btn btn-danger" :disabled="!isRemovable" @click="remove(part)">削除</button>
    </li>
  </ul>
  <div class="card-footer">
    <div class="text-right">
      <button type="button" class="btn btn-success" @click="add">追加</button>
    </div>
  </div>
</div>
