<div class="card">
  <div class="card-header">基本情報</div>
  <div class="card-block">

    <div class="row">
      <div class="col-sm-4">
        <fieldset class="form-group">
          <label for="year">発売年</label>
          <input type="number" name="year" id="year" class="form-control" number v-model="song.year" min="1971">
        </fieldset>
      </div>
      <div class="col-sm-4">
        <fieldset class="form-group">
          <label for="month">発売月</label>
          <input type="number" name="month" id="month" class="form-control" number v-model="song.month" min="1" max="12">
        </fieldset>
      </div>
      <div class="col-sm-4">
        </fieldset>
        <fieldset class="form-group">
          <label for="page">掲載ページ</label>
          <input type="number" name="page" id="page" class="form-control" v-model="song.page" number min="1">
        </fieldset>
      </div>
    </div>

    <fieldset class="form-group">
      <label for="title">曲名</label>
      <input type="text" id="title" name="title" class="form-control" v-model="song.title">
    </fieldset>

    <fieldset class="form-group">
      <label for="artist">アーティスト</label>
      <input type="text" id="artist" name="song.artist" class="form-control" v-model="song.artist">
    </fieldset>

    <fieldset class="form-group">
      <label for="lead">リード文</label>
      <input type="text" id="lead" name="song.lead" class="form-control" v-model="song.lead">
    </fieldset>

    <fieldset class="form-group">
      <label for="grade">難易度</label>
      <select name="grade" id="grade" class="form-control c-select" v-model="song.grade">
        <option v-for="item in grades" :value="item">{{item}}</option>
      </select>
    </fieldset>

    <fieldset class="form-group">
      <label for="type">種類</label>
      <select name="type" id="type" class="form-control c-select" v-model="song.type">
        <option v-for="item in types" :value="item">{{item}}</option>
      </select>
    </fieldset>
  </div>
</div>
